
@{
    ViewBag.Title = "RestaurantDashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add any additional stylesheets or scripts here -->
</head>
<body>

    <div class="container mt-4">
        <h2>Restaurant Dashboard</h2>

        <div class="row mt-4">
            <div class="col-md-4">
                <a href="/ZeroHungerHome/RequestGeneration" class="btn btn-primary btn-block">Request Generate</a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("RequestStatus", "ZeroHungerHome")" class="btn btn-success btn-block">Request Status</a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("LogOut", "ZeroHungerHome")" class="btn btn-danger btn-block">Logout</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add any additional scripts here -->

</body>
</html>



